.section-header {
    background: url("../images/cartheader.jpg") 50% 50% no-repeat;
    background-size: cover;
    padding: calc(70px + 9rem) 0 9rem; 
    /*position: relative; */
  }

  .pizza1 {
      background: url("/images/pizza1.jpg")
  }