.section-header {
    background: url("../images/cartheader.jpg") 50% 50% no-repeat;
    background-size: cover;
    padding: calc(70px + 9rem) 0 9rem; 
    position: relative; 
  }

.btn {
    background-color: #e7272d;
    color: white;
    /*margin: 50px 0 -50px 0; */
    margin: 50px auto;
    padding: 25px; 
    border-radius: 16px;
}

.our-pizzas {
    padding-bottom: 10px;
    margin-top: 85px;
}


#delivery {
    background: white;
    padding: 10% 0;
  }
  
  #delivery #delivery-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
  }
  
  #delivery #delivery-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 12px 18px 14px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: white;
    margin: 0 5px 10px 5px;
    transition: all ease-in-out 0.3s;
    background: white;
    border-radius: 4px;
  }
  
  #delivery #delivery-flters li:hover, #delivery #delivery-flters li.filter-active {
    color: white;
  } 
  
  #delivery #delivery-flters li:last-child {
    margin-right: 0;
  }
  
  #delivery .delivery-item {
    margin-bottom: 30px;
    overflow: hidden;
  }
  
  #delivery .delivery-item img {
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #delivery .delivery-item .delivery-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -50px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: #e7272d;
    padding: 15px 20px;
  }
  
  #delivery .delivery-item .delivery-info h4 {
    font-size: 18px;
    color: white;
    font-weight: 600;
  }
  
  #delivery .delivery-item .delivery-info p {
    color: white;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  #delivery .delivery-item .delivery-info .preview-link, #delivery .deliveryitem .delivery-info .details-link {
    position: absolute;
    right: 50px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: white;
    transition: ease-in-out 0.3s;
  }
  
  #delivery .delivery-item .delivery-info .preview-link:hover, #delivery .delivery-item .delivery-info{
    color: #e7272d;
  }
  
  #delivery .delivery-item .delivery-info .details-link {
    right: 15px;
    color: white;
  }
  
  #delivery .delivery-item:hover img {
    top: -30px;
  }
  
  #delivery .delivery-item:hover .delivery-info {
    opacity: 1;
    bottom: 0;
  } 






  